		body{
			display: block;
		}
		.post{
			width: 80%;
			height: 500px;
			margin-left: 10%;
			border-radius: 20px;
			display: block;
		}
		.post-body{
			display: block;
			text-align: left;
		}
		.post-body h3{
			text-align: left;
			display: block;
			margin:0;
			
		}